body {
    width: 100%;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    background-color: green;
    top: 0;
    left: 0;
    height: 64px;
    padding: 5px;
    top: 0;
}
.nav {
    position: sticky;
    top: 0;
}

.but {
    width: 2cm;
    position: fixed;
    left: 1150px; 
    top: 550px;


}

